In [ ]:
import pandas as pd
import json as j

data = j.load(open("/content/data.json", "r"))

In [ ]:
# добавить в исходную программу
def lesson2time(lesson):
  t = {1: {"hours": 9, "minutes": 10},
       2: {"hours": 10, "minutes": 0},
       3: {"hours": 10, "minutes": 55},
       4: {"hours": 11, "minutes": 50},
       5: {"hours": 12, "minutes": 40},
       6: {"hours": 13, "minutes": 30},
       7: {"hours": 14, "minutes": 20}}
  return timedelta(**t[lesson])

lesson2time(7)

In [ ]:
# это только для получения списка всех предметов

lesson_names = []

for period in data:
  for lesson in period["lessons"]:
    if not lesson["name"] in lesson_names:
      lesson_names.append(lesson["name"])

sorted(lesson_names, key=lambda s: s.lower())

In [ ]:
lessons = {'Алгебра': 'Алгебра', 'Англ.яз.': 'Английский',
           'Астрономия': 'Астрономия', 'Биология': 'Биология',
           'География': 'География', 'Геометрия': 'Геометрия',
           'Инф. и ИКТ': 'Информатика', 'Информатика': 'Информатика',
           'Искус.Муз.ИЗО': 'Искусство', 'Ист.Осетии': 'История Осетии',
           'История': 'История', 'Литература': 'Литература', 'ОБЖ': 'ОБЖ',
           'Обществознание': 'Обществознание', 'Основы предприним.': 'ОПД',
           'Рус. литература': 'Литература', 'Рус. язык': 'Русский',
           'ТКО': 'Культура Осетии', 'Физика': 'Физика', 'Физкультура': 'Физкультура',
           'Химия': 'Химия', 'Черчение': 'Черчение', 'биология электив': 'био элект',
           'мат.электив': 'мат элект', 'предпроф': 'предпроф',
           'род.яз и р.лит(рус.)': 'родной', 'химия электив': 'хим элект'}

In [ ]:
for period in data:
  for lesson in period["lessons"]:
    if lesson["name"] in lessons.keys():
      lesson["name"] = lessons[lesson['name']]

for period in data:
  for lesson in period["lessons"]:
    print(lesson["name"], end=", ")
  print()

тут у нас уже данные с исправлеными названиями предметов

In [ ]:
for period in data:
  period["lessons"] = [l for l in period["lessons"] if len(l["marks"])]

тут мы очистились ото всех ненужных предметов

In [ ]:
#!pip install dateparser
import dateparser as dp
print(int(dp.parse("28 ноября 2019 UTC+03").timestamp()))

In [ ]:
# 28 ноября 2019
import time
dt.fromtimestamp(time.time()) + timedelta(hours=12)

In [ ]:
from datetime import datetime as dt
from datetime import timezone, timedelta
start_date = min([t for x in [[m["time"] for m in l["marks"]] for l in data[0]["lessons"]] for t in x])
marks = []

for period in data:
  for lesson in period["lessons"]:
    marks += [{"mark": mark["mark"],
        		   "work": mark["work"],
        		   "date": mark["date"],
        		   "time": mark["time"],
               "day": (mark["time"]-start_date)//60//60//24,
               "weekday": (dt.fromtimestamp(mark["time"])+timedelta(hours=12)).weekday(),
        		   "lesson": mark["lesson"],
               "subject": lesson["name"],
               "form": period["form"],
               "period": period["period"],
               "form-period": period["name"]} \
              for mark in lesson["marks"]]

marks

In [ ]:
pd.DataFrame(marks)

In [ ]:
import altair as alt
import pandas as pd

vals = ['2', '3', '3-', '4', '4+', '4-', '5', '5-', 'Б', 'Н', 'П']
cols = ['#e45756', '#f58518', '#ed6e37', '#54a24b', '#88d27a', '#f2cf5b', '#4c78a8', '#439894', '#756bb1', '#a55194', '#9e765f']

alt.Chart(pd.DataFrame(marks)).mark_rect().encode(
    x=alt.X('day:O'), #, axis=None
    y='subject',
    color=alt.Color('mark:N', scale=alt.Scale(domain=vals, range=cols)),
    tooltip=["period", "lesson", "mark"]
)

пытаюсь визуализировать

In [ ]:
calc_per = lambda s: int(s.split("-")[0]) + (int(s.split("-")[1])-1)/4 if int(s.split("-")[0]) < 10 else int(s.split("-")[0]) + (int(s.split("-")[1])-1)/2

In [ ]:
import altair as alt
import pandas as pd

arr = []
for period in data:
  for lesson in period["lessons"]:
    arr.append({"period": calc_per(period["name"]),"lesson": lesson["name"], "marks": len(lesson["marks"])})

arr = pd.DataFrame(arr)

alt.Chart(arr).mark_rect().encode(
    x='period:O',
    y='lesson',
    color='marks',
    tooltip=["period", "lesson", "marks"]
)